{% extends 'client/base.html' %}
{% block title %}Профиль клиента | {{ object.name }}{% endblock %}
{% block content %}

<h1 class="text-center">{{ object.name }}</h1>
<p class="mt-3">E-mail: <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
<p>Комментарий: {{ object.comment }}</p>

<div class="mt-4">
    <a class="btn btn-outline-primary" href="{% url 'client:client_update' client.pk %}" role="button">Редактировать</a>
    <a class="btn btn-outline-danger" href="{% url 'client:client_delete' client.pk %}" role="button">Удалить</a>
</div>


<p>Последнее изменение: {{ object.updated_at }}</p>
<p>Добавлен: {{ object.created_at }}</p>

{% endblock %}
